<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body>
    <div class="container" style="margin-top: 10px;" ng-controller="ProduitController">
        <div class="card">
            <div class="card-header">Catalogue des Produits</div>
            <div class="card-body">

                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Mot Clé : </label>
                        <input type="text" ng-model="name" class="form-control-sm">
                    </div>
                    <div>
                        <button data-ng-click="chercher()" class="btn btn-primary btn-sm">Chercher</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Designation</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="p in produits">
                        <td>{{p.id}}</td>
                        <td>{{p.designation}}</td>
                        <td>{{p.prix}}</td>
                        <td>{{p.quantite}}</td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li ng-class="{active:pageCourante==$index}" class="page-item" ng-repeat="p in pages track by $index">
                            <a class="page-link" ng-click="goToPage($index)">{{$index}}</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</body>
</html>